.banner{
    .slick{
        &-dots{
            padding-bottom: toRem(20);
        }
    }

    &__figure{
        &-slider{
            position: relative;

            &::after{
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 40%;
                background-image: linear-gradient(to top, rgba($color-primary, $alpha: 0.5), rgba($color-secondary, $alpha: 0.3), transparent);
            }
        }

        &__slide{

            &__block{
                position: relative;
                padding-top: 50%;
                @include min-tablet{
                    padding-top: 30%;
                }
    
                &__image{
                    @extend %full-width;
                }
            }
        }
    }

    &__content{
        &-slider{
            margin-top: toRem(-50);
            clip-path: polygon(50px 0,100% 0,100% 100%,0 100%,0 50px);
            background-color: $color-primary;
        }

        &__slide__block{
            color: $color-white;
            padding: toRem(50) toRem(20);
            text-align: center;
        }
    }

    &__title{
        font-size: toRem(28);
        @include min-tablet{
            font-size: toRem(50);
        }
        font-weight: 700;
    }
    
    &__text{
        color: inherit;
        margin-bottom: 0;
        max-width: toRem(600);
        margin-left: auto;
        margin-right: auto;
        @include min-tablet{
            font-size: toRem(20);
        }
    }
}